<p>Authoring a personal bio is awkward at best and excruciating egoism at its worst. 
Luckly, I am perfectly used to being awkwardly ego bound.</p>

<p>I am a software developer with a particular interest in web technology.</p>
