<section>
    <p>I'm not all that hard to find:</p>
    <iframe src="http://www.google.com/latitude/apps/badge/api?user=5632528171092050280&type=iframe&maptype=roadmap" height="200" frameborder="0"></iframe>
    <ul>
        <li><a href="http://github.com/brianleroux">github</a></li>
        <li><a href="http://twitter.com/brianleroux">twitter</a></li>
        <li><a href="http://facebook.com/fakebrianleroux">facebook</a></li>
        <li><a href="https://profiles.google.com/brian.leroux">google+</a></li>
    </ul>

    <p>If you do not use any of the services listed above you can always shoot me an email. 
    Anything sent to this domain will ultimately find me.</p>
</section>
