<section>
All around web technology by <a href="http://twitter.com/brianleroux">Brian LeRoux</a>, SPACELORD!1!! 
at <a href="http://nitobi.com">Nitobi</a>, working on <a href="http://phonegap.com">PhoneGap</a>.
</section>

<section>
    <h2>Projects</h2>

    <p>I enjoy working on free/open source software. Most of my projects somehow orbit the amazing 
    gravity of JavaScript though I can assure you that I dislike all programming environments equally.</p> 

    <dl>
        <dt><a href="http://mobile.minutewith.com">Mobile Minute</a></dt>
        <dd>An infrequent, and quick, podcast wherein I talk mobile web.</dd>

        <dt><a href="http://wtfjs.com">wtfjs</a></dt>
        <dd>A joke site about js (and the jokes on us!).</dd>

        <dt><a href="http://phonegap.com">PhoneGap</a></dt>
        <dd>Making the mobile web native since 2008.</dd>

        <dt><a href="http://github.com/brianleroux/cordova">Cordova</a></dt>
        <dd>Pro automation for PhoneGap apps.</dd>

        <dt><a href="http://westcoastlogic.com/lawnchair">Lawnchair</a></dt>
        <dd>Simple JSON Storage.</dd>

        <dt><a href="http://xuijs.com">xui</a></dt>
        <dd>The <em>first</em> DOM library for mobile JavaScript.</dd>
    </dl>

    <h2>Presenting</h2>
    <p>The only thing better than writing software is talking about it! Maybe I'll see you at one these events:</p>
    <!-- 
    2011
    ====
    dreamforce aug 29
    nodeconfcamp sept 5-7

    funconf end of sept, 
    jsconfeu oct 2, 
    mobile dev summit http://www.developermarch.com/mods/ india nov 2-3 

    2012
    ====

    mobilism may 10-11
    --> 
    <dl>
        <dt><a href="http://www.phonegap.com/2011/08/26/phonegap-at-dreamforce-aug-30-sept-2-2011/">Dreamforce</a></dt>
        <dd>(Aug 30) SF, USA</dd>

        <dt><a href="http://future-of-mobile.com">Future of Mobile</a></dt>
        <dd>(Sept 16) London, UK</dd>
		
        <dt><a href="http://gotocon.com/aarhus-2011/speaker/Brian+LeRoux">goto; conf</a></dt>
		<dd>(Oct 10-12) Aarhus, Denmark</dd>

        <dt><a href="http://www.devoxx.com">Devoxx</a></dt>
        <dd>(Nov 14-18) Antwerp, Belgium</dd>
    </dl>
</section>
