<!DOCTYPE html>
<html>
  <head>
    <title>brian.io - online warren of brianleroux</title>
    <meta name=viewport content=width=device-width>
    <link rel=stylesheet href=/css/app.css>
    <script type="text/javascript" src="//js.sopablackout.org/sopablackout.js"></script>
    <link href=http://fonts.googleapis.com/css?family=Rokkitt rel=stylesheet>
  </head>
  <body>
  <nav>
    <ul class=clearfix>
      <li><a href=/>brian.io</a></li>
      <li><a href=/about>about</a></li>
      <li><a href=/blog>blog</a></li>
      <li><a href=/contact>contact</a></li>
    </ul>
  </nav> 
  <%- body %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>
    // loading all of jquery to get a domready event...
    $(function(){
        setTimeout(scrollTo, 500, 0, 1)
    })

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24968548-1']);
    _gaq.push(['_setDomainName', 'brian.io']);
    _gaq.push(['_setAllowHash', 'false']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  </body>
</html>
