<!DOCTYPE html>
<html>
  <head>
    <title>brian.io - online warren of brianleroux</title>
    <meta name=viewport content=width=device-width>
    <link rel=stylesheet href=/css/app.css>
    <link href=http://fonts.googleapis.com/css?family=Rokkitt rel=stylesheet>
  </head>
  <body>
  <nav>
    <ul class=clearfix>
      <li><a href=/>brian.io</a></li>
      <li><a href=/about>about</a></li>
      <li><a href=/blog>blog</a></li>
      <li><a href=/contact>contact</a></li>
    </ul>
  </nav> 
  <%- body %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>
      // loading all of jquery to get a domready event...
      $(function(){
        setTimeout(scrollTo, 500, 0, 1)
      })
  </script>
  </body>
</html>
